aws_region   = "us-east-1"
environment  = "homolog"
state_bucket = "tc3-tfstate-oficina-SEUSUFIXO"

db_name           = "oficina_db"
db_username       = "oficina_user"
db_engine_version = "17.4"
db_instance_class = "db.t4g.micro"
